<!-- Start *TODO: "Agregar formulario de comentarios a vista show de artículos -->
<%= form_with(model: @comment, local: true) do |f| %>
    <% if @comment.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este comentario no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @comment.errors.full_messages.each do |msg|%>
                  <li><%= msg %></li>
                <% end %>
            </ul>
        </div> 
    <% end %>
    <%= f.hidden_field :publication_id, value: @publication.id %>
    <div class = 'field'>
        <%= f.label :content, "Comentario", class:"form-label" %>
        <div class="control">
          <%= f.text_area :content, class:"form-control"  %>
        </div>
    </div>
    <br>
    <div class = 'd-grid gap-2 d-md-flex justify-content-md-end'>
      <%= f.submit class:"btn btn-primary" %>
    </div><br>
<% end %>
<!-- End *TODO: "" -->